<%- include('../partials/admin/header') %>
    <main>
        <div class="painel">
            <ul>
                <li><a href="/admin/painel">Painel</a></li>
                <li><a href="#">Vendas</a></li>
                <li><a href="/admin/gerenciamentodeprodutos">Produtos</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Métodos de entrega</a></li>
                <li><a href="#">Promoções</a></li>
                <li><a href="#">CMS</a></li>
                <li><a href="#">Google Shopping</a></li>
                <li><a href="#">Relatórios</a></li>
            </ul>
        </div>
        <div class="gerenciamento">
            <h2>Gerenciar Produtos</h2>
            <a href="/admin/gerenciamentodeprodutos/adicionarproduto">Adicionar Produto</a>
        </div>
        <div class="descricoes">
            <ul class="dsc">
                <li class="id_produto">
                    ID
                </li>
            </ul>
            <ul class="dsc">
                <li class="nome">Nome</li>
            </ul>
            <ul class="dsc" style="margin-left: auto;">
                <li class="sku">SKU</li>
            </ul>
            <ul class="dsc">
                <li class="preco">Preço</li>
            </ul>
            <ul class="dsc">
                <li class="quantidade">Quantidade</li>
            </ul>
            <ul class="dsc">
                <li class="status">Status</li>
            </ul>
            <ul class="dsc">
                <li class="acoes">Ações</li>
            </ul>                 
        </div>
        <% for(let i=0; i < produtos.length; i++) {%> 
            <div class="container">
                <div class="produto">
                    <p><%= produtos[i].id_produto %></p>
                </div>
                <div class="nome-produto">                
                    <p><%= produtos[i].nome_produto %></p>         
                </div>
                <div class="descricao" style="width: 200px;">                
                    <p><%= produtos[i].sku %></p>
                </div>
                <div class="descricao" style="width: 90px;">
                    <p>R$:<%= produtos[i].preco %></p>
                </div>
                <div class="descricao" style="width: 80px;">                
                    <p><%= produtos[i].estoque %></p>
                </div>
                <div class="descricao" style="width: 85px;">                
                    <p><%= produtos[i].status_produto %></p>
                </div>
                <div class="descricao" style="width: 60px; padding-top:17px;">                
                    <a href="/admin/gerenciamentodeprodutos/<%=produtos[i].id_produto%>">Editar</a>
                    <a href="/admin/gerenciamentodeprodutos/excluir/<%=produtos[i].id_produto%>">Excluir</a>
                </div>
            </div>
        <% } %> 
    </main>
</body>
</html>