<table>
    <thead class="descricoes">
        <tr>
            <td class="id"></td>
            <td class="nome">Nome do Produto</td>
            <td class="sku">Preço Unitario</td>
            <td class="quantidade">qtde.</td>
            <td class="subtotal">Subtotal</td>
        </tr>
    </thead>
    <% for(let i=0; i <resultadoCarrinho.length; i++) {%>
        <tbody class="produtos">
            <tr>
                <td><%= resultadoCarrinho[i].id_produto %></td>
                <td class="nome"><%= resultadoCarrinho[i].id_produto %></td>
                <td><%= resultadoCarrinho[i].quantidade %></td>
                <td>R$:<%= resultadoCarrinho[i].quantidade %></td>
                <td><%= resultadoCarrinho[i].id_cliente %></td>
                <td><a href = "/carrinho">Remover Produto</a></td>
            </tr>
        </tbody>
    <% } %>
</table>

-------

<div class="descricoes">
    <ul class="dsc">
        <li>Nome do Produto</li>
    </ul>
    <ul class="dsc-quantidade">
        <li style="margin-left: 5px;">Preço unitário</li>
        <li>Qtd.</li>
        <li style="margin-right: 0px;margin-left: 27px;">Subtotal</li>
    </ul>                        
</div>
<div class="container-carrinho">
    <div class="produto">
        <img src="images/Mondial-C-08 3.png" alt="Mondial">
    </div>
    <div class="nome-produto">                
        <p>Cafeteira Mondial Espresso C-08 automática expresso 110V preta</p>
        <div class="exc">
            <a href = "/carrinho">Remover Produto</a>
        </div>             
    </div>
    <div class="descricao">                
        <p>R$XX,XX</p>
    </div>
    <div class="descricao">
        <div class="descricao-quantidade">
            <form action="">         
                <input type="number" name= "quantidade">
            </form>
        </div>                
    </div>
    <div class="descricao">                
        <p>R$XX,XX</p>
    </div>
</div>