<%- include('./partials/header'); %>

    <main>
        <form action="/finalizarcompra" method="POST">
            <div class="res-pedido">
                <h1>Resumo do pedido</h1>
            </div>
            <% for(let i = 0; i < produtos.length; i++) {%>
                <div class="informacoes-produto">
                    <img src="/<%= produtos[i].dataValues.imagem %>" alt="Cafeteira">
                    <ul>
                        <li><%= produtos[i].dataValues.nome_produto %></li>
                        <li class="quantidade-pedido">Quantidade(<%= produtos[i].quantidade %>)</li>
                        <li class="vendidopor">Entrega e vendido por: E-coffee</li>
                        <li class="entrega">Normal até 2 dais úteis</li>
                    </ul>
                </div>
            <% } %> 
            <div class="info-valores">
                <div class="info-resumo">
                    <% for(let i = 0; i < produtos.length; i++) {%>
                        <p>Produto <%= [i+1] %> </p>
                    <% } %> 
                    <p>Frete</p>
                    <p>Total</p>
                </div>
                <div class="info-valor">
                    <% for(let i = 0; i < produtos.length; i++) {%>
                        <p>R$ <%= produtos[i].total%></p>
                    <% } %>
                    <p>R$ xx,xx</p>
                    <p>R$ <%= produtos.reduce((total, valor) => total + valor.total, 0) %></p>
                </div>
            </div>
            <% if(!endereco.length) { %>
            <% } else { %> 
                <div class="finaliza-compra">
                    <button type="submit">Finalizar compra</button>
                </div>
            <% } %> 
            <div class="cfg-pedido">
                <h4>Selecione e Confira seu endereço</h4>
                <h4>Selecione uma forma de pagamento</h4>
            </div>
            <div class="pedido-pagamento">
                <div class="meio-de-entrega">
                    <div class="title-meios">
                        <img src="/images/icons8-casinha-de-cachorro-50 1 (1).png" alt="Endereço de entrega" height="38">
                        <p style="margin-left: 9px;margin-top: 3px;">Endereço de Entrega</p>
                    </div>
                    <div class="enderecos-cliente">
                        <% if(!endereco.length) { %>
                            <h3>Você não possui nenhum endereço cadastrado</h3>
                            <p>Acesse a página do usuário para cadastrar um novo endereço ou clique <a href="/paginadousuario/enderecos/novoendereco">Aqui</a></p>
                        <% } else { %>
                            <div class="title-endereco">
                                <p>Endereços</p>
                            </div>
                            <% for(let i = 0; i < endereco.length; i++) { %> 
                                <div class="info-de-enderecos">
                                    <div class="endereco">
                                        <input type="radio" id="enderecoSelect" name="enderecoSelecionado" value="<%= endereco[i].id_cli_enderecos %>" <% if([i] == 0){ %> checked <% } %>/>
                                        <ul id="infoEndereco-selecionado">
                                            <li><h3 id="apelido-endereco"><%= endereco[i].nome_do_endereco %></h3></li>
                                            <li><%= endereco[i].logradouro %>, N°<%= endereco[i].num_residencia %></li>
                                            <li><%= endereco[i].cep %></li>
                                            <li><%= endereco[i].bairro %> - <%= endereco[i].cidade %> - <%= endereco[i].uf %></li>
                                        </ul>
                                    </div>
                                    <div class="edit-endereco">
                                        <a href="/paginadousuario/enderecos/editar/<%= endereco[i].id_cli_enderecos %>">Editar</a>
                                        <div class="adc-endereco">
                                            <a href="/paginadousuario/enderecos">Adicionar Endereço</a>
                                        </div>
                                    </div>
                                </div>
                            <% } %> 
                        <% } %>
                        <% if(!endereco.length) { %>
                            <h3 style="text-decoration: underline;">É necessário criar um endereço para finalizar a compra!</h3>
                        <% } %>  
                    </div>
                    <div class="selecao-endereco">
                        <h2>Selecione a Forma de Entrega</h2>
                        <div class="box-options">
                            <div class="Normal">
                                <div>
                                    <input type="radio" id="normal" name="" value="op1" />
                                    <label for="normal">Normal</label>
                                </div>
                                <p>Até 2 dias úteis</p>
                                <p style="color: #CE5F20;">R$ xx,xx</p>
                            </div>
                            <div class="Agendada">
                                <div>
                                    <input type="radio" id="agendada" name="" value="op2" />
                                    <label for="agendada">Agendada</label>
                                </div>
                                <p>A partir de 16 dias úteis</p>
                                <p style="color: #CE5F20;">R$ xx,xx</p>
                            </div>
                            <div class="Expressa">
                                <div>
                                    <input type="radio" id="expressa" name="" value="op3" />
                                    <label for="expressa">Expressa</label>
                                </div>
                                <p>Até 1 dia útil</p>
                                <p style="color: #CE5F20;">R$ xx,xx</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formas-pagamento">
                    <div class="opcoes-pagamento">
                        <div class="pagamento-escolhido">
                            <label for="cartao">Cartão de Crédito</label>
                        </div>
                        <select name="">
                            <option value="<%= produtos.reduce((total, valor) => total + valor.total, 0) %>">Preço à vista</option>
                            <% for(let i = 2; i <= 10; i++) { %>
                                <option value="<%= produtos.reduce((total, valor) => total + valor.total / [i], 0).toFixed(2) %> sem juros">
                                    Em <%= [i] %>x de R$<%= produtos.reduce((total, valor) => total + valor.total / [i], 0).toFixed(2) %> sem juros
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="box-pagamentos">
                        <div class="debito">
                            <div>
                                <img src="/images/icons8-parte-traseira-de-cartão-de-banco-48 1.png" alt="Cartão">
                                <input type="radio" id="credito" name="credito" checked>
                                <label for="debito" style="padding-left: 136px;">Cartão de Crédito</label>
                            </div>
                        </div>
                        <div class="boleto">
                            <div>
                                <img src="/images/icon-boleto.png" alt="Boleto">
                                <input type="radio" id="boleto" name="boleto">
                                <label for="boleto" style="padding-left: 197px;">Boleto</label>
                            </div>
                        </div>
                        <div class="pix">
                            <div>
                                <img src="/images/icons8-pagamento-móvel-40 2.png" alt="Pix">
                                <input type="radio" id="pix" name="pix">
                                <label for="pix" style="padding-left: 245px;">Pix</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <%- include('./partials/footer') %>