<%- include('./partials/header') %>
<main>
    <div class="title-seguranca">
        <h1>Acesso e Segurança</h1>
    </div>
    <div class="security-options">
        <div class="acessibilidade">
            <p style="font-weight: bold;">Nome:</p>
            <div class="nome">
                <p><%= sessao.user.nome %> <%= sessao.user.sobrenome %></p>
            </div>            
        </div>
        <div class="acessibilidade">
            <p style="font-weight: bold;">Telefone:</p>
            <div class="nome">
                <p style="margin-left: -21px;"><%= sessao.user.telefone %></p>
            </div>            
        </div>
        <div class="acessibilidade">
            <p style="font-weight: bold;">CPF:</p>
            <div class="nome">
                <p style="margin-left: 13px;"><%= sessao.user.cpf %></p>
            </div>            
        </div>
        <div class="acessibilidade">
            <p style="font-weight: bold;">E-mail:</p>
            <div class="nome">
                <p><%= sessao.user.email %></p>
            </div>            
        </div>
        <div class="acessibilidade">
            <p style="font-weight: bold;">Senha:</p>
            <div class="nome">
                <p>***************</p>
            </div>            
        </div>
        <div class="editar">
            <a href="/paginadousuario/seguranca/editar">Editar</a>
        </div>
        <div class="concluido">
            <a href="/paginadousuario">Concluído</a>
        </div>
    </div>
    <%- include('./partials/whatsapp') %>
</main>
<%- include('./partials/footer') %> 