<%- include('./partials/header') %> 
<main>
    <div class="title-suaconta">
        <h1>Seus Endereços</h1>
    </div>    
    <div class="enderecos-user">
        <div class="criarEndereco">
            <a href="/paginadousuario/enderecos/novoendereco">
                <img src="/images/plus.png" alt="crirar" style="margin-top: 57px;">
                <p>Adicionar Novo Endereço</p>
            </a>
        </div>
        <% for(let i = 0; i < enderecosUser.length; i++) { %>
            <div class="lista-enderecos">
                <div class="endereco">
                    <h2><%= enderecosUser[i].apelido %> </h2>
                    <ul>
                        <li><%= enderecosUser[i].rua %>,Nº <%= enderecosUser[i].numero %></li>
                        <li><%= enderecosUser[i].bairro %></li>
                        <li><%= enderecosUser[i].cidade %>, <%= enderecosUser[i].estado %>, <%= sessao.user.cep %></li>
                        <li>Complemento: <%= enderecosUser[i].complemento %></li>
                    </ul>
                    <div class="editar">
                        <div class="alterar">
                            <a href="#">Alterar</a>
                        </div>                        
                        <div class="excluir">
                            <a href="#">Excluir</a>
                        </div>
                    </div>                 
                </div>
            </div>
        <% } %>                  
    </div>
    <div class="voltar">
        <a href="/paginadousuario">Voltar</a>
    </div>
    <div class="whatsapp">
        <a href="#"><img src="images/icons8-whatsapp-48.png"></a>
    </div>
</main>
<%- include('./partials/footer') %>